body {
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 520px;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

button {
    max-width: 130px;
}

h1, p {
    margin: 4px 0;
}

p {
    font-size: 20px;
}