:root {
    --laranja-claro-3: #faf1ef;
    --laranja-claro-2: #e8d5d2;
    --laranja-claro-1: #FF8A65;
    --laranja-claro: #FBE9E7;
    --laranja: #FF3D00;
    --laranja-escuro-1: #ed3b05;
    --laranja-escuro-2: #F4511E;
    --laranja-escuro-3: #dc491c;
    --laranja-escuro-4: #791c00;
    --laranja-escuro-5:#521300;
    --preto:#212121;
    --cinza: #737272;
    --cinza-2: #b1b1b1;
}