body {
    background-color: #323030; 
}

section {
    background-color: #fff;
    width: 350px;
    padding: 40px 40px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    column-gap: 12px;
    flex-direction: column;
  
}

h1 {
    max-width: 380px;
    text-align: center;
    font-size: 25px;
}

h1, p {
    margin: 4px 0;
}

p {
    font-size: 20px;
}