section {
    text-align: center;
    height: 100%;
    width: 500px;
    padding: 30px 50px;
    background-color: #ffff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

h1 {
    font-size: 24px;
    margin: 4px 0;
}

hr {
    margin: 10px 0 25px;
}

main {
    text-align: left;
}

ul {
    list-style: none;
}

li > p {
    margin: 6px 0;
    text-align: justify;
}

li > button {
    margin: 12px 0;
}

.gabarito {
    color: var(--laranja);
    font-weight: 600;
}