div.pergunta {
    border-top: 3px solid var(--laranja);
    padding: 2px 0;
    margin: 10px 0;
    text-align: justify
}

section {
    text-align: center;
    height: 100%;
    width: 500px;
    padding: 30px 50px;
    background-color: #ffff;
    overflow: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

p {
    font-size: 18px;
    margin:  0 0 20px;
}

h1 {
    font-size: 16px;
    font-weight: 550;
    text-align: center;
    color: #fefefe;
    background-color:  var(--preto);
    padding: 12px 0;
}

div#quiz {
    text-align: start;
}